<header>
  <div class="home">
    <div class="container">
      <div class="home__container" fxLayout="row wrap" fxLayout.xs="column">
        <div class="home__content" fxFlex="50" fxLayout="row wrap" fxLayoutAlign="left center">
          <h1 class="mat-display-1">Test</h1>
          <p class="headline--4 home__body">Leveraging this portal will enable employee engagement and alliance in our
            multi-generational workforce.</p>
        </div>
        <div class="home__image image" fxFlex="50"></div>
      </div>
    </div>
  </div>
</header>
<div class="homepage-sign-up">
  <div class="content container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="80" class="text-center">
      <h2 class="headline--2">Create your profile today</h2>
      <p class="headline--4 home__body">Bark on the journey to create meaningful connections and enrich your
        professional
        development.</p>
      <div class="buttons" fxLayoutAlign="center center">
        <button class="buttons__get-started" mat-raised-button color="primary" routerLink="/registration"
          routerLinkActive="active">Get Started</button>
        <button class="buttons__login" mat-raised-button color="accent" (click)="openLoginModal()">Login</button>
      </div>
    </div>
  </div>
</div>
<div class="homepage-how">
  <div class="content container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="40">
      <div class="card">
        <img src="../../../assets/images/user-solid.png" alt="Mentor">
      </div>
    </div>
    <div fxFlex="60">
      <h2 class="headline--2">As a mentee</h2>
      <p class="headline--4 home__body">Bark on the journey to create meaningful connections and enrich your
        professional
        development.</p>
    </div>
  </div>
  <div class="content container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="60">
      <h2 class="headline--2">As a mentor</h2>
      <p class="headline--4 home__body">Bark on the journey to create meaningful connections and enrich your
        professional
        development.</p>
    </div>
    <div fxFlex="40">
      <div class="card">
        <img src="../../../assets/images/user-tie-solid.png" alt="Mentee">
      </div>
    </div>
  </div>
</div>
