<mat-toolbar class="mat-elevation-z6 toolbar" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout="row">
  <div (click)="navigateHome()" fxLayoutAlign="center center">
    <span class="icon">
      <img style="height: 20px; width: 20px;" alt="Republic Services" src="../../../assets/images/logo_rs.png">
    </span>
    Better<strong>MENT</strong> <span class="tagline">On-demand mentorship portal</span>
  </div>
  <div fxLayoutAlign="center center">
    <button class="logout" mat-raised-button color="accent" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>