@import '../../../colors.scss';

.registration-form,
.title {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    align-items: center;

    &__submit-button {
        width: 40px;
    }

    &__field {
        width: 800px;
    }

    &__check {
        margin-bottom: 10px;
    }
}

.skills-table {
    width: 80%;

    &__check {
        text-align: center;
    }
}

.button-link {
    margin: 5px;

    a {
        text-decoration: none;
        color: $white;
    }
}
